.container__big-card {
  /* border: solid white 2px; */
  margin-left: 10px;
  margin-right: 10px;
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.big-card__photo > img {
  width: 100%;
  min-width: 400px;
}

.big-card__title > h1 {
  font-size: 20px;
  margin-top: 15px;
}

.big-card__title > h1 > a {
  font-size: 20px;
  margin-top: 15px;
  text-decoration: none;
  color: white;
}

.big-card__description {
  margin-top: 15px;
}

.big-card__description > p > a {
  color: gray;
  text-decoration: none;
}
