<div class="container__small-card">

  <div class="container__small-card-content">
    <div class="small-card__photo">
      <!-- Mockado/Travado -> mock = conteúdo travado não vai tá dinamico -->
      <!-- <img src="" alt=""> -->
      <img src="{{ photoCover }}"
        alt="">
    </div>
    <div class="small-card__title">
      <h1><a [routerLink]="['/noticia', Id]"> {{ cardTitle }} </a></h1>
      <!-- <span>As queimadas que evidenciam tal ato tanto no norte do país quanto no Brasil inteiro são agravantes </span> -->
    </div>
  </div>

  <div class="container__small-card__separator">
    <hr />
  </div>

</div>
