<div class="container__small-card">

  <div class="container__small-card-content">
    <div class="small-card__photo">
      <!-- Mockado/Travado -> mock = conteúdo travado não vai tá dinamico -->
      <!-- <img src="" alt=""> -->
      <img src="https://th.bing.com/th/id/R.97bf524f526ff02909b2995b7792068a?rik=tmOy9%2flkFKXORg&pid=ImgRaw&r=0" alt="">
    </div>
    <div class="small-card__title">
      <h1><a href="">NOVA VERSÃO DO ANGULAR</a></h1>
    </div>
  </div>

  <div class="container__small-card__separator">
    <hr />
  </div>

</div>
