<header>
  <app-menu-bar></app-menu-bar>
</header>
<app-menu-title></app-menu-title>
<div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-5">
        <div class="articles__main">
          <app-big-card
            Id="1"
            photoCover="https://th.bing.com/th/id/OIP.nucg2Gm3JxCPauSelRdx_gHaE6?rs=1&pid=ImgDetMain"
            cardTitle="A Floresta Amazônica"
            cardDescription="A Floresta Amazônica é vital para o equilíbrio climático e a biodiversidade global. Ela regula o clima, armazena carbono, e abriga inúmeras espécies. Sua preservação é essencial para a saúde do planeta."
          >
          </app-big-card>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-7">
        <div class="articles__others">
          <app-small-card *ngFor="let item of dadosBanco"
            Id="{{item.Id}}"
            photoCover="{{item.photoCover}}"
            cardTitle="{{item.title}}"
          >
          </app-small-card>
        </div>
      </div>
    </div>
</div>
